certifi==2018.10.15
chardet==3.0.4
confluent-kafka[avro]
idna==2.7
requests==2.20.0
urllib3==1.24.1
wheel==0.24.0
pytest==3.10.0
flake8==3.6.0
pyformance==0.4
numpy==1.16.*
matplotlib==3.*
seaborn==0.8.1
pandas==0.24.1
json==3.5
